/*Peter*/

       #suche1 {
        	padding-top: 4px;
        	padding-bottom: 4px;
        	margin-top: 10px;
        }
        
        #autoTabelle {
        	float:left;
        }
        
        #formSchnellsuche{
        	position: fixed;
       		left: 35%;
        }
        
        label {
        	font-size: 1.7em;
        }
        
        #suchText{
        	padding-top: 7px;
        	padding-bottom: 7px;
        	margin: 5px;
        	width: 250px;
        	font-size: 1.3em;
        }
        
        td a{
        	font-size: 15pt;
			color: #757575;
			text-decoration: none;
        }

		nav ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color: #333;
		}
		
		nav li {
		    float: left;
		}
		
		li a{
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}
		
		li a:hover {
		    background-color: grey;
		}
		
		.nav > li.right {
		float: right;
		}
		
		footer {
		  background-color: #333;
		  text-align: left;
		  padding: 10px;
		  bottom: 0;
		  left: 0;
		  right: 0;
		}
	
        .js_enabled #cookie-message {
            display: none;
        }
        
		#submit {
	    background-color: gray;
	    color: white;
	    width: 100px;
	    padding: 14px 20px;
	    margin: 8px 0;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
		}
	
		#submit:hover {
	    opacity: 0.8;
		}
	