@CHARSET "UTF-8";

select{
	width: 200px;
}

#newcar {
	   	background-color: gray;
	    color: white;
	    width: 200px;
	    padding: 14px 20px;
	    margin-top: 10px;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	}

input {
	width: 194px;
}

#form {
	margin-left: 50px;
}
